//Add your own editor styles here or comment out the next line if you want to pull in the whole Bootstrap stuff
//@import "theme"; 

$dark-green: #225b54;
$light-green: #2fadaa;
$black: #212529;
$soft-grey: #727375;
$mid-neutral: #ccccbf;
$white: #f2f0e7;

.has-dark-green-background-color {
  background-color: $dark-green;
  &:hover {
    background-color: darken($dark-green, 10%);
  }
}

.has-dark-green-color {
  color: $dark-green !important;
}

.has-light-green-background-color {
  background-color: $light-green;
  &:hover {
    background-color: darken($light-green, 10%);
  }
}

.has-light-green-color {
  color: $light-green !important;
}

.has-black-background-color {
  background-color: $black;
}

.has-black-color {
  color: $black !important;
}

.has-soft-grey-background-color {
  background-color: $soft-grey;
}

.has-soft-grey-color {
  color: $soft-grey !important;
}

.has-mid-neutral-background-color {
  background-color: $mid-neutral;
}

.has-mid-neutral-color {
  color: $mid-neutral !important;
}

.has-white-background-color {
  background-color: $white;
}

.has-white-color {
  color: $white !important;
}
