// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

$action-red:    #c42127;
$night-blue:    #003149;
$tomorrow-blue: #4fa2a9;
$growth-green:  #88b48e;
$hope-green:    #d8e9bb;

$primary: $night-blue;
$secondary: $growth-green;
$white: whitesmoke;

$link-color: $tomorrow-blue;

$navbar-dark-color:                 rgba($white, 1);
$navbar-dark-hover-color:           rgba($white, 0.75);
$dropdown-link-hover-color:         $white;
$dropdown-link-hover-bg:            $primary;

$font-family-sans-serif: Montserrat, sans-serif;
$font-family-serif:      Faustina, Georgia, serif;
$font-family-subhead:   'Barlow Condensed', sans-serif;
$tight-letter-spacing:   -0.5px;
$tighter-letter-spacing: -1px;

$navbar-font-family: $font-family-sans-serif;
$navbar-font-size: 14px;