// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #225b54;
$secondary: #2fadaa;
$black: #212529;
$soft-grey: #727375;
$mid-neutral: #ccccbf;
$white: #f2f0e7;

$navbar-dark-color:                 rgba($white, 1);
$navbar-dark-hover-color:           rgba($white, 0.75);
$dropdown-link-hover-color:         $white;
$dropdown-link-hover-bg:            $primary;

$font-family-sans-serif: Montserrat, sans-serif;
$font-family-serif: Faustina, Georgia, serif;
$font-family-subhead: 'Barlow Condensed', sans-serif;
$font-size-base: 1rem;
$tight-letter-spacing: -0.5px;
$tighter-letter-spacing: -1px;

$navbar-font-size: 80%;